BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeComma
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: InlineOnly
SortIncludes: false
ColumnLimit: 0
IndentCaseLabels: true
SpaceAfterCStyleCast: true
