name: Docs

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  docs-with-dev-image:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/0xfischer/parking_garage_control_system-dev:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build docs (inside devcontainer image)
        run: doxygen Doxyfile

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./html
